<div id="<%= dom_id farmer %>">
  <p>
    <strong>Full name:</strong>
    <%= farmer.full_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= farmer.email %>
  </p>

  <p>
    <strong>Tel:</strong>
    <%= farmer.tel %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= farmer.location %>
  </p>

</div>
