<div id="<%= dom_id buyer %>">
  <p>
    <strong>Full name:</strong>
    <%= buyer.full_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= buyer.email %>
  </p>

  <p>
    <strong>Tel:</strong>
    <%= buyer.tel %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= buyer.location %>
  </p>

</div>
